__pycache__/
*.py[cod]
.ipynb_checkpoints/

public/
models/*.pth
*.pth
models/*.jsonl
models/*.csv
models/*.json
models/hf_cache/

val_predictions.json
val_score.json
predictions.json
score.json

.env
.venv/
venv/
